.image-container {
    text-align: center;


    img {
        max-width: 100%;
        height: auto;

    }

    #button-group {
        padding-top: 2rem;
        display: block;

        button {
            color: black;
        }
    }
}