<div id="page-container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand"> <img src="assets/openai.svg" alt="openai logo" width="25px" id="header-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" routerLink="" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="history" routerLinkActive="active">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main-block">
        <router-outlet></router-outlet>
    </div>

    <footer id="footer" class="bg-light text-center text-lg-start border-top">
        <div class="text-center text-muted p-3">&copy; Sidar İlaslan</div>
    </footer>

</div>

<ngx-spinner type="ball-spin"></ngx-spinner>